<html>

<head>
	<title>Peerbuds</title>
</head>

<body>
<div style="font-family: Helvetica,sans-serif; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
	<!-- Header -->
	<div style="vertical-align: middle; ">
		<img src="https://peerbuds.com/assets/images/pb_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"></span>
	</div>
	<!-- Title -->
	<div style="font-weight: 800; font-size: 30px; margin-top: 40px; text-transform: capitalize;">
		Congrats!
	</div>
	<!-- Body -->
	<div>
		<div style="font-size: 17px; margin-top: 25px;">
			Hi there
			<br><br>
			<%= actorName%> has accepted your <%= itemType%>.
			<br><br>
			<b><%= itemText %></b>
			<br><br>
			You have earned <b><%= gyanAmount %></b> Gyan from this answer.
		</div>
	</div>
	<!-- Signature -->
	<div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
		Cheers,
		<br>
		Peerbuds Team
	</div>
	<!-- Footer -->
	<hr style="margin-top: 40px; background-color: #dbdbdb;">
	<div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
		Sent with <span style="font-size: 11px;">&hearts;</span> from Peerbuds
		<br><br>
		Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
	</div>
</div>
</body>

</html>