<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
<div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
    <!-- Header -->
    <div style="vertical-align: middle; ">
        <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #33bd9e"></span>
    </div>
    <!-- Title -->
    <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
        We are sorry to see you go!
    </div>
    <!-- Body -->
    <div>
        <div style="font-size: 17px; margin-top: 25px;">
            Hey there,
            <br><br>
            As per your request, your account on theblockchainu.com has been deleted. This action is irreversible.
            <br><br>
            If you ever change your mind, we'll be more than happy to welcome you back to The Blockchain U.
            <br><br>
            If this was done in error, reach out to our <a href="https://theblockchainu.com/contact-us">support team</a> to help you fix this.
        </div>
    </div>
    <!-- Signature -->
    <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
        Cheers,
        <br>
        The Blockchain U Team
    </div>
    <!-- Footer -->
    <hr style="margin-top: 40px; background-color: #dbdbdb;">
    <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
        Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
        <br><br>
        Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
    </div>
</div>
</body>

</html>