<html>

<head>
	<title>The Blockchain University</title>
</head>

<body>
	<div style="font-family: Helvetica,sans-serif; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
		<!-- Header -->
		<div style="vertical-align: middle; ">
			<img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px"> <span style="position: relative; top: -14px; color: #33bd9e"></span>
		</div>
		<!-- Title -->
		<div style="font-weight: 800; font-size: 30px; margin-top: 40px; text-transform: capitalize;">
			CodeLab is ready!
		</div>
		<!-- Body -->
		<div>
			<div style="font-size: 17px; margin-top: 25px;">
				Hi there,
				<br><br>
				Your new and amazing CodeLab is now ready to use. All you need to do next is click on the link below and enjoy building blockchain applications like a piece of cake.
				<br><br>
				<b>
					<a href="<%= guideUrl %>">
						<%= guideTitle %>
					</a>
				</b>
				<br><br>
			</div>
		</div>
		<!-- Signature -->
		<div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
			Cheers,
			<br>
			The Blockchain U Team
		</div>
		<!-- Footer -->
		<hr style="margin-top: 40px; background-color: #dbdbdb;">
		<div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
			Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
			<br><br>
			Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
		</div>
	</div>
</body>

</html>