<html>
<head><title>Taleho</title></head>
<body style="margin:0px;padding:0px; border:0px">
<div style="background-color:#f5f5f5;margin:0;padding:20px 0 20px 0;width:100%">
    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <div>
                </div>
                <table  cellpadding="0" cellspacing="0" width="100%" style="">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-radius:3px 3px 0 0!important;color:#333333;border-bottom:0;font-size: 14px; font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;line-height:100%;vertical-align:middle">
                                <tbody>
                                <tr>
                                    <td style="text-align: center; padding-bottom: 30px; color: #777">
                                        Peerbuds.com
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td valign="top" style="background-color:#fdfdfd;">
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td valign="top" style="padding:48px">
                                                    <!-- Body Content Here -->
                                                    <h3 style="color:#777777;display:block;font-family:&quot;Helvetica Neue&quot;,Helvetica,Roboto,Arial,sans-serif;font-size:20px;font-weight:300;line-height:150%;margin:0;padding:36px 48px;text-align:center;">
                                                        <%= heading %>
                                                    </h3>
                                                    <!-- End Body Content -->
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="10" cellspacing="0" width="100%" style="border-top:0;">
                                <tbody>
                                <tr>
                                    <td valign="top" style="padding:0">
                                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tbody>
                                            <tr>
                                                <td colspan="2" valign="middle" style="border:0;color:#888888;font-family:Arial;font-size:12px;line-height:125%;text-align:center;">

                                                    <p style="line-height: 100%; margin-bottom: 7px; margin-top: 25px" >

                                                    </p>
                                                    <h3 style="line-height: 100%; margin-top: 0px; padding-top: 0px;" >Knowledge Economy</h3>
                                                    <h4 style="font-weight: 300; " >Learn, Share, Create</h4>
                                                    <p style="margin-bottom: 2px"><a href="http://www.peerbuds.com" style="text-decoration: none; color: #aaaaaa; margin-bottom: 0px;" >www.peerbuds.com</a></p>
                                                    <p style="margin-top: 0px" ><a href="tel: +919930593079" style="text-decoration: none; color: #aaaaaa">+91 993 059 3079</a></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>