<html>

<head>
    <title>Peerbuds</title>
</head>

<body>
<div style="font-family: Helvetica; padding: 50px 70px; background-color: #ffffff; color: #333333; font-size: 17px;">
    <!-- Header -->
    <div style="vertical-align: middle; ">
        <img src="https://peerbuds.com/assets/images/pb_logo.png" width="35px" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"><b>&nbsp;peerbuds</b></span>
    </div>
    <!-- Title -->
    <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
        Time to review your cohort
    </div>
    <!-- Body -->
    <div>
        <div style="font-size: 17px; margin-top: 25px;">
            Hey there,
        </div>
        <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
            Hopefully you had an awesome experience with <%= type %> <%= title %>'s students and taught some new info and skills that were helpful.  To make sure that all our students continue to do the most effective job they can, be sure to leave a review. It doesn't have to be long or complicated - just something honest, fair, and helpful.
            <br><br>
            By the way, we're glad you're a part of our community.  Each individual person brings unique perspective and talents that benefits the rest of us in a way that no one else can, so thanks for that.
        </div>
        <div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #ff5b5f; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
            <a style="color: white; text-decoration: none;" href="https://peerbuds.com/console/teaching/<%= type%>s">Review students</a>
        </div>
    </div>
    <!-- Signature -->
    <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
        Cheers,
        <br>
        Peerbuds Team
    </div>
    <!-- Footer -->
    <hr style="margin-top: 40px; background-color: #dbdbdb;">
    <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
        Sent with <span style="font-size: 11px;">&hearts;</span> from Peerbuds
        <br><br>
        Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
    </div>
</div>
</body>

</html>