<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
    <div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
        <!-- Header -->
        <div style="vertical-align: middle; ">
            <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"></span>
        </div>
        <!-- Title -->
        <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
            Welcome to The Blockchain University
        </div>
        <!-- Body -->
        <div>
            <div style="font-size: 17px; margin-top: 25px;">
                Hey <%= username %>,
            </div>
            <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
                We're pretty sure you'd love to be a part of our community, based on what we know about you so far.
                <br><br>
                Creating an account is free and easy, and we'll keep you updated on all classes, experiences and projects we think you might be interested in so you won't miss out on anything.
                <br><br>
                Also - if you ever feel like you're getting too much mail from us, you can always un-subscribe.  We won't be offended.
            </div>
        </div>
        <!-- Signature -->
        <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
            Cheers,
            <br>
            The Blockchain U Team
        </div>
        <!-- Footer -->
        <hr style="margin-top: 40px; background-color: #dbdbdb;">
        <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
            Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
            <br><br>
            Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
        </div>
    </div>
</body>

</html>