<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
    <div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
        <!-- Header -->
        <div style="vertical-align: middle; ">
            <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"></span>
        </div>
        <!-- Title -->
        <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
            Greetings!
        </div>
        <!-- Body -->
        <div>
            <div style="font-size: 17px; margin-top: 25px;">
                Hey <%= username %>,
            </div>
            <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
                We are excited you signed up for The Blockchain University!
                <br><br>
                We are the world's largest community of <b>Blockchain Certified Professionals</b> and the world's first education initiative to be built on the Blockchain!
                <br><br>
                To begin with, here are some things you can do,
                <ul>
                    <li> <a href="https://theblockchainu.com/console/profile/edit">Setup your Blockchain U profile</a> and availability for mentor sessions.</li>
                    <li> Explore impactful learning experiences, classes, communities or create a new one at <a href="https://theblockchainu.com/home/homefeed">theblockchainu.com</a></li>
                    <li> Join our Telegram community at get the latest updates at <a href="https://t.me/theblockchainu">t.me/theblockchainu</a></li>
                </ul>
                <br><br>
                Also - if you ever feel like you're getting too much mail from us, you can always un-subscribe.  We won't be offended.
            </div>
        </div>
        <!-- Signature -->
        <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
            Cheers,
            <br><br>
            Sahil & Aakash
            <br>
            <span style="font-size: 14px; color: #aaaaaa;">Co-founders of The Blockchain University</span>
        </div>
        <!-- Footer -->
        <hr style="margin-top: 40px; background-color: #dbdbdb;">
        <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
            Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
            <br><br>
            Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
        </div>
    </div>
</body>

</html>