<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
    <div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
        <!-- Header -->
        <div style="vertical-align: middle; ">
            <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #33bd9e"></span>
        </div>
        <!-- Title -->
        <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
            You have 100 new Karma!
        </div>
        <!-- Body -->
        <div>
            <div style="font-size: 17px; margin-top: 25px;">
                Hey there,
            </div>
            <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
                <br/>
                Say hello to <b>your knowledge wallet.</b>
                <br/><br/>
                You are awesome! As a token of appreciation for being an early adopter, we have created your wallet account and added <b>100 KARMA</b> coins for free!
                <br/><br/>
                You can now pay for courses using your Karma balance and earn <b>up to 50% cashback</b> every single time! Here are some more things you can do with your Karma account:
                <br/><br/>
                <ul>
                    <li>
                        <a href="https://theblockchainu.com/console/account/wallet">Add more Karma balance to your account.</a>
                    </li>
                    <li>
                        <a href="https://theblockchainu.com/home/homefeed">Get scholarships on paid courses! Click on 'Pay with Karma' on the payment page to check your eligibility.</a>
                    </li>
                    <li>
                        <a href="https://theblockchainu.com/story/me">View your knowledge profile and share your certificates with anyone.</a>
                    </li>
                </ul>
                <br><br>
                To claim your rewards, make sure you verify your email and mobile number by <a href="https://theblockchainu.com/console/profile/verification">clicking here</a>.
                <br/><br/>
                Are you excited about this as much as we are? Share it with your friends and we'll reward you with 1000 Karma for every friend that joins.
            </div>
            <div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #33bd9e; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
                <a style="color: white; text-decoration: none;" href="https://theblockchainu.com/invite/1">Invite your friends</a>
            </div>
        </div>
        <!-- Signature -->
        <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
            Cheers,
            <br>
            The Blockchain U Team
        </div>
        <!-- Footer -->
        <hr style="margin-top: 40px; background-color: #dbdbdb;">
        <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
            Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
            <br><br>
            Blockchain University, Inc., 4580 Automall Pkwy, Fremont, CA 94538
        </div>
    </div>
</body>

</html>