<html>

<head>
    <title>The Blockchain University</title>
</head>

<body>
    <div style="font-family: Helvetica; padding: 9%; background-color: #ffffff; color: #333333; font-size: 17px;">
        <!-- Header -->
        <div style="vertical-align: middle; ">
            <img src="https://theblockchainu.com/assets/images/bu_logo.png" width="auto" height="35px" >  <span style="position: relative; top: -14px; color: #ff5b5f"></span>
        </div>
        <!-- Title -->
        <div style="font-weight: 800; font-size: 30px; margin-top: 40px;">
            New Karma's have arrived
        </div>
        <!-- Body -->
        <div>
            <div style="font-size: 17px; margin-top: 25px;">
                Hey there,
            </div>
            <div style="font-size: 17px; margin-top: 10px; line-height: 24px">
                <br/>
                Welcome to <b>The Blockchain University's Global Scholarship Fund.</b>
                <br/><br/>
                As a token of appreciation for being an early adopter, we have created a new Crypto Wallet for you and enrolled you on to our Global Scholarship Fund which gives you access to a 100 Million Karma Cryptocurrency!
                <br/><br/>
                With this fund, you are now eligible to earn Crpyto Rewards for learning, discussing and reviewing content on theblockchainu.com!
                <br/><br/>
                To claim your rewards, make sure you verify your Email and Mobile number by <a href="https://theblockchainu.com/console/profile/verification">clicking here</a>.
                <br/><br/>
                Are you excited about this as much as we are? Share it with your friends and we'll reward you with 1000 Karma for every friend that joins.
            </div>
            <div style="font-size: 21px; margin-top: 40px; line-height: 24px; background-color: #ff5b5f; color: #ffffff; padding: 20px; text-align: center; border-radius: 4px;">
                <a style="color: white; text-decoration: none;" href="https://theblockchainu.com/invite/1">Invite your friends</a>
            </div>
        </div>
        <!-- Signature -->
        <div style="font-size: 17px; margin-top: 30px; line-height: 24px;">
            Cheers,
            <br>
            The Blockchain U Team
        </div>
        <!-- Footer -->
        <hr style="margin-top: 40px; background-color: #dbdbdb;">
        <div style="font-size: 13px; color: #bbbbbb; margin-top: 30px; font-weight: 300">
            Sent with <span style="font-size: 11px;">&hearts;</span> from The Blockchain U
            <br><br>
            Peerbuds, Inc., 4580 Automall Pkwy, Fremont, CA 94538
        </div>
    </div>
</body>

</html>