extends ../layouts/layout

block content
    .jumbotron
        h1 Peerbuds Authentication Test


    .row
        .col-md-12
            h1 Test Functionality
            p.lead Choose from one of the below options:
            ul
                li
                    a(href='/signup') Signup for a local account
                li
                    a(href='/login') Login to your account using either a local account or social accounts